body {
    background-color: #1f2937;
    color: #f9faf8;
    font-family: roboto, Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

button {
    background-color: #3882f6;
    color: #f9faf8;
    border: none;
    border-radius: 8px;
    padding: 8px 32px;
    font-size: 16px;
}

a {
    text-decoration: none;
}

.subtext {
    font-size: 18px;
    color: #e5e7eb;
}

div.nav,
div.hero,
div.footer {
    display: flex;
    justify-content: center;
    width: 95%;
    max-width: 1000px;
    margin: 0 auto;
}

/* Navigation */

div.nav {
    align-items: center;
    flex-wrap: wrap;
    height: 50px;
}

.nav-logo {
    font-size: 24px;
    font-weight: bold;
}

.nav-links {
    display: flex;
    list-style: none;
    justify-content: space-between;
    text-align: center;
    margin: 0 0 0 auto;
    padding: 0;
    gap: 24px;
}

@media (max-width: 600px) {
    .nav-links {
        margin: 0;
    }
}

/* Hero Section */

div.hero {
    align-items: stretch;
    padding: 130px 0px;
}

div.hero-gap {
    min-width: 10px;
    width: 100px;
}

.hero-text {
    font-size: 48px;
    font-weight: 800;
    margin: 0px;
    padding: 0px;
}

div.hero p {
    margin: 8px 0;
}

.header-img-placeholder {
    flex: 1 0 50%;
    background-color: #6d747d;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

@media (max-width: 420px) {
    div.hero {
        flex-wrap: wrap-reverse;
        text-align: center;
    }

    div.hero-gap {
        min-width: 0;
        width: 0;
    }

    .header-img-placeholder {
        width: 90%;
        height: 300px;
    }
}

/* Info Section */

div.info {
    flex-direction: column;
    background-color: #f9faf8;
    color: #1f2937;
    text-align: center;
    padding: 20px 0 150px 0;
}

.info h2 {
    font-size: 36px;
    font-weight: 800;
}

.info-list {
    display: flex;
    list-style: none;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    gap: 50px;
}

.info-img-placeholder {
    border: 4px #3882f6 solid;
    border-radius: 16px;
    width: 160px;
    height: 160px;
}

.info-img-subtext {
    width: 168px;
    text-align: center;
    margin-top: 8px;
}

/* Quote Section */

div.quote {
    background-color: #e5e7eb;
    color: #1f2937;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 110px 0;
}

div.quote p {
    width: 90%;
    max-width:790px;
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    margin: 0;
}

div.quote-author {
    width: 90%;
    max-width:790px;
    font-size: 24px;
    font-weight: bold;
    font-style: normal;
    text-align: end;
}

/* Banner Section */

div.banner-section {
    display: flex;
    justify-content: center;
    background-color: #f9faf8;
    color: #1f2937;
    text-align: center;
    padding: 100px 0 100px 0;
}


div.banner {
    background-color: #3882f6;
    color: #f9faf8;
    border: none;
    border-radius: 8px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: left;
    padding: 8px;
    width: 90%;
    height: 130px;
    max-width: 1000px;
    font-size: 18px;
}

button.banner-button {
    border: 2px #f9faf8 solid;
}

.banner h3 {
    margin: 0;
    padding: 0;
}

.banner p {
    margin: 0;
    padding: 0;
}

div.footer {
    height: 100px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
