body {
    background-color: #1f2937;
    color: #f9faf8;
    display: flex;
    flex-direction: column;
    font-family: roboto, Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

button {
    background-color: #3882f6;
    color: #f9faf8;
    border: none;
    border-radius: 8px;
    padding: 8px 32px;
    font-size: 16px;
}

div.header,
div.page-body,
div.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 210px;
}

div.nav {
    align-self: stretch;
    display: flex;
    align-items: end;
    height: 45px;
}

.nav-logo {
    font-size: 24px;
    font-weight: bold;
}

.nav-links {
    display: flex;
    margin: 0px;
    padding: 0px;
    margin-left: auto;
    list-style: none;
    justify-content: space-between;
    gap: 24px;
}

.nav-links a {
    text-decoration: none;
}

.subtext {
    font-size: 18px;
    color: #e5e7eb;
}

div.hero {
    display: flex;
    align-items: stretch;
    padding: 130px 0px;
    gap: 60px;
}

.hero-text {
    font-size: 48px;
    font-weight: 800;
    margin: 0px;
    padding: 0px;
}

div.hero p {
    margin: 8px 0px;
}

div.page-body {
    background-color: #f9faf8;
    color: #1f2937;
    padding: 30px 0px 0px 0px;
}

.header-img-placeholder {
    background-color: #6d747d;
    flex: 1 0 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-img {
    display: flex;
    margin: 0px auto;
    padding-bottom: 100px;
    list-style: none;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
}

.page-body h2 {
    font-size: 36px;
    font-weight: 800;
}

.info-img-placeholder {
    border: 4px #3882f6 solid;
    border-radius: 16px;
    width: 150px;
    height: 150px;
}

.info-img-subtext {
    width: 158px;
    text-align: center;
    margin-top: 8px;
}

div.quote {
    background-color: #e5e7eb;
    color: #1f2937;
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    padding: 120px 320px;
}

div.quote p {
    margin: 0px;
    padding: 0px;
}

div.quote-author {
    font-size: 24px;
    font-weight: bold;
    font-style: normal;
    text-align: end;
}

div.banner {
    background-color: #3882f6;
    color: #f9faf8;
    border: none;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px 0px;
    padding: 50px 100px;
    gap: 200px;
    font-size: 18px;
}

button.banner-button {
    border: 2px #f9faf8 solid;
}

.banner h3 {
    margin: 0px;
    padding: 0px;
}

.banner p {
    margin: 0px;
    padding: 0px;
}

div.footer {
    height: 100px;
    justify-content: center;
}
